.login-bg {
    background: url(../../assets/images/conference.jpg)no-repeat center;
    background-size: cover;
    height: 100vh;
}

.logo-img {
    max-width: 80px;
}

.overlay {
    background: #01bceb24;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-container {
    text-align: center;
} 
.mat-form-field
{
    width:100%;
}

.half-card-block {
    width: 355px;
    margin: 0 auto;
}

.logo-container p {
    margin: 10px 0px 15px;
    font-size: 14px;
    color: #000;
    font-weight: 500;
}

mat-card-actions.mat-card-actions {
    margin: auto!important;
    padding-bottom: 0px;
}

button.mat-primary {
    width: 100%;
    text-transform: uppercase;
    font-weight: 400;
}

.common-redirects {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.right-title
{
    text-align: right;
}

button.fPass.mat-button {
    padding: 0px;
}

.mat-button-focus-overlay, .mat-button-ripple
{
    background-color: transparent!important;
}

a.link-click {
    color: #01bceb;
    text-decoration: none;
    font-weight: 500;
}

.signupLink {
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
    font-weight: 500;
}

.sub-links {
    margin: 20px 0px 10px;
}

.invalid-feedback{
    color:red;
    font-size: 12px;
    margin-bottom: 10px;
}
