<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Home</mat-toolbar>
    <mat-nav-list>
      <button mat-list-item mat-button [routerLink]="['']">Home</button>
      <button mat-list-item mat-button [routerLink]="['/reports']">Report</button>
      <button mat-list-item mat-button [routerLink]="['/order-summary']">Order Summary</button>
      <button mat-list-item mat-button [routerLink]="['/sales-order']">Sales Order</button>
      <button mat-list-item mat-button [routerLink]="['/pricing']">Pricing</button>
      <button mat-list-item mat-button [routerLink]="['/admin']">Admin</button>
      <button mat-list-item mat-button [routerLink]="['/login']">Login</button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary ">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <span>Material-ng</span> -->
      <button mat-button [routerLink]="['']">Home</button>
<button mat-button [routerLink]="['/reports']">Report</button>
<button mat-button [routerLink]="['/order-summary']">Order Summary</button>
<button mat-button [routerLink]="['/sales-order']">Sales Order</button>
<button mat-button [routerLink]="['/pricing']">Pricing</button>
<button mat-button [routerLink]="['/admin']">Admin</button>
<button mat-button [routerLink]="['/login']">Login</button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    
  </mat-sidenav-content>
</mat-sidenav-container>
