
<div [hidden]="hiddenHeader">
    <mat-card class="header-card">
  <mat-toolbar>
      
 
      <div class="left-menu-block">
     <img src="../../../assets/images/logo-blue.png" class="img-responsive header-logo">
      <!-- <span class="example-fill-remaining-space"></span> -->
      <span class="flex-spacer"></span>


      <span class="font35-icon right sidebar-icon"><mat-icon class="top20">menu</mat-icon></span>
     
    </div>
      <span class="flex-spacer"></span>
      <!-- <span class="example-fill-remaining-space"></span> -->
      
      <div class="menu-menu">
      <!-- <button mat-button [routerLink]="['dashboard']">Home</button>
      <button mat-button [routerLink]="['/reports']">Report</button>
      <button mat-button [routerLink]="['/order-summary']">Order Summary</button>
      <button mat-button [routerLink]="['/sales-order']">Sales Order</button>
      <button mat-button [routerLink]="['/pricing']">Pricing</button>
      <button mat-button [routerLink]="['/admin']">Admin</button> -->
     
      <button mat-button [matMenuTriggerFor]="menu">
          <mat-card class="user-icon-card">
          <div class="wrap-user-menu">
<img src="../../../assets/images/profile.png" class="profile" alt="Profile Image">
<div class="user-drop"><h3>John Doe</h3><p>administrator</p></div>
<mat-icon class="font35-icon right drop-arrow">arrow_drop_down</mat-icon>
          </div>
        </mat-card>
        </button>
        <button mat-button (click)="logout()">Logout</button>
   
      <mat-menu #menu="matMenu" class="profile-submenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voicemail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
    </div>
 
 
  </mat-toolbar>
</mat-card>
  <mat-drawer-container class="example-container">
    <mat-drawer #drawer>
      <mat-grid-list class="sidemenu-nav" cols="1" rowHeight="1:1">
        <mat-grid-tile><button class="active" mat-button="Home"><mat-icon>home</mat-icon>
            Home</button></mat-grid-tile>
        <mat-grid-tile><button mat-button="reports"><mat-icon>home</mat-icon>
            Reports</button></mat-grid-tile>
        <mat-grid-tile><button mat-button="sales-order"><mat-icon>home</mat-icon>
            Sales Order</button></mat-grid-tile>
        <mat-grid-tile><button mat-button="pricing"><mat-icon>home</mat-icon>
            Pricing</button></mat-grid-tile>
        <mat-grid-tile><button mat-button="services"><mat-icon>home</mat-icon>
            Services</button></mat-grid-tile>
        <mat-grid-tile><button mat-button="user-management"><mat-icon>home</mat-icon>
            User Management</button></mat-grid-tile>
        <mat-grid-tile><button mat-button="assets-management"><mat-icon>home</mat-icon>
            Assets Management</button></mat-grid-tile>
        <mat-grid-tile><button mat-button="settings"><mat-icon>home</mat-icon>
            Settings</button></mat-grid-tile>
      </mat-grid-list>
  
    </mat-drawer>
    <mat-drawer-content class="content-page">
      <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>
    </mat-drawer-content>
  
  </mat-drawer-container>

</div>




