<mat-drawer-container class="example-container">
  <mat-drawer #drawer>
    <mat-grid-list class="sidemenu-nav">
      <mat-grid-tile><button class="active" mat-button="Home"><mat-icon>home</mat-icon>
          Home</button></mat-grid-tile>
      <mat-grid-tile><button mat-button="reports"><mat-icon>home</mat-icon>
          Reports</button></mat-grid-tile>
      <mat-grid-tile><button mat-button="sales-order"><mat-icon>home</mat-icon>
          Sales Order</button></mat-grid-tile>
      <mat-grid-tile><button mat-button="pricing"><mat-icon>home</mat-icon>
          Pricing</button></mat-grid-tile>
      <mat-grid-tile><button mat-button="services"><mat-icon>home</mat-icon>
          Services</button></mat-grid-tile>
      <mat-grid-tile><button mat-button="user-management"><mat-icon>home</mat-icon>
          User Management</button></mat-grid-tile>
      <mat-grid-tile><button mat-button="assets-management"><mat-icon>home</mat-icon>
          Assets Management</button></mat-grid-tile>
      <mat-grid-tile><button mat-button="settings"><mat-icon>home</mat-icon>
          Settings</button></mat-grid-tile>
    </mat-grid-list>

  </mat-drawer>
  <mat-drawer-content class="content-page">
    <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>
  </mat-drawer-content>

</mat-drawer-container>
