
.content-sidebar
{
  background: #fff;
  padding: 55px 0px;
}


.mat-card {
  background: #fff;
  color: rgba(0,0,0,.87);
  min-width: 300px;
  text-align: center;
  min-height: 150px;
}

mat-icon.mat-icon.material-icons {
  font-size: 65px;
  display: inline-block;
  width: 100%;
  height: inherit;
  color: #01bceb;
}

.wrap-mat-card h3 {
  font-size: 20px;
  font-weight: 500;
  color: #01bceb;
  margin-bottom: 0px;
}

mat-card.mat-card
{
  display: flex;
  align-items: center;
}

.wrap-mat-card {
  width: 100%;
}

