.example-card {
    max-width: 420px;
    margin:0 15px;
    display: inline-table;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }