

.content-sidebar
{
  background: #fff;
}




.dashboard-data mat-icon.mat-icon.material-icons {
  font-size: 55px;
  display: inline-block;
  width: 100%;
  height: inherit;
  color: #01bceb;
}



.dashboard-data mat-card.mat-card {
  min-width: 70%;
  text-align: center;
  border-bottom: 2px solid #01bceb;
  border-radius: 0px;
  box-shadow: 0px 4px 3px 0px #acacac;
}

.wrap-mat-card h3 {
  font-size: 20px;
  font-weight: 500;
  color: #01bceb;
  margin-bottom: 0px;
  margin-top: 10px;
}

@media (max-width:991px)
{
  .wrap-mat-card h3 {
    font-size: 15px;
  }
  .dashboard-data mat-icon.mat-icon.material-icons{
    font-size: 40px;
}
}

