/* You can add global styles to this file, and also import other style files */

html, body {
    padding: 0;
    margin: 0;
  background: #ffffff }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-card-actions .mat-button, .mat-card-actions .mat-raised-button{
    background: #01bceb;
}





.mat-checkbox-inner-container {
    height: 17px!important;
    width: 17px!important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background
{
    background-color: #01bceb!important;
}

.mat-toolbar.mat-primary {
    background: #01bceb;
}



.right
{
    float:right;
}

.font35-icon
{
    font-size: 35px
}

.top20
{
    top: 20px;
}

/* --------- Table ---------- */

th.mat-header-cell {
    text-align: left;
    max-width: 300px;
}

td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type
{
    border-right:0px; 
}

.mat-sort-header-container
{
    display: inline-block!important;
}

button.mat-sort-header-button {
    float: left;
}


.mat-sort-header-arrow.ng-trigger.ng-trigger-arrowPosition {
    float: right;
}

table.mat-table
{
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
    margin: 20px auto 15px;
    border: 1px solid #e0e0e0;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right: 1px solid #e0e0e0;
    text-align: center!important;
    padding: 0px!important;
}

/* ------------------------- */

.mat-card-top {
    display: inline-block;
    width: 100%;
    text-align: right;
}

.mat-form-field-infix
{
    font-size: 14px;
}

/* ----- Sidebar ----- */
.mat-drawer.mat-drawer-side
{
max-width: 240px;
width: 100%;
border-right: 2px solid #01bceb;
}

.mat-drawer-content
{
    margin-left: 240px;
    padding: 20px 10px;
    min-height: 580px;
    background: #ffffff;
}


/* .side-menus button.mat-button:focus,
.side-menus button.mat-button:hover
{
    background: #01bceb;
    color: #fff!important;  
} */


.side-menus button.mat-button {
    width: 100%;
    text-align: left;
    height: 45px;
    border-bottom: 1px solid #01bceb;
    border-radius: 0px;
}

.side-menus button.active.mat-button {
    background: #01bceb;
    color: #fff;
}

.side-menus mat-icon.mat-icon.material-icons {
    font-size: 18px;
    margin-right: 10px;
    vertical-align: sub;
}

/* ----------------------- */

/* ----- Components CSS --- */

button.mat-button.mat-warn
{
    font-weight: 500;
    font-size: 16px;
    min-width: 150px;
    height: 45px;
    margin-right: 20px;
    float: left;
}

mat-dialog-container h3.mdl-card__title-text {
    margin-top: 0px;
}

.dialog-forms.half-inputs {
    margin-top: 40px;
}

.mdl-dialog__content.confirmation-dialog {
    padding: 0px;
    margin: 25px 0px 30px;
}

/* ---- Sales Order ---- */

.half-top-div {
    /* background: #000; */
    display: inline-block;
    width: 50%;
}

.page-breadcrumb{
    text-align: right;
}

span.bCrumbs {
    font-size: 14px;
    color: #01bceb;
}

.page-title{
    font-size: 24px;
    vertical-align: middle;
    text-transform: uppercase;
    line-height: initial;
    color: #01bceb;
}

.mat-stepper-horizontal, .mat-stepper-vertical {
    background-color: transparent;
}

.row-title {
    margin-bottom: 30px;
}


.sales-order-data.content-slide {
    padding: 0px 25px;
}


.mat-horizontal-content-container {
    padding: 30px 0px 20px 0px!important;
}

.half-inputs .mat-form-field
{
    width: 50%;
}
.half-inputs .mat-form-field-wrapper
{
width: 90%;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected) {
    border-color: rgb(1, 188, 235);
    background: #01bceb!important;
    color: #fff;
}


.mat-horizontal-stepper-header-container {
    background: #f7f7f7;
    box-shadow: 0px 1px 5px 0px #d3d3d3;
    border-radius: 4px;
}

/* -------------------------------------- */


span.active-bCrumbs {
    font-weight: 500;
}

.float-left .mat-form-field-wrapper,
.float-left-align-btn
{
    float: left;
}

.ml-5
{
    margin-left: 5px;
}
 
mat-card.mat-card {
    cursor: pointer;
}


.content-slide {
    padding: 0px 25px;
}

.mr-20 {
    margin-right: 20px!important;
}



.reports-data.content-slide .mat-sort-header-arrow.ng-trigger.ng-trigger-arrowPosition {
    float: right;
    margin: 5px 5px 0px;
    color: #fff;
}


.float-right .mat-form-field-wrapper
{
    float:right;
}

form.sales-forms .mat-form-field
{
    line-height: 20px;
}

.mat-btn-group {
    margin-top: 30px;
}

.mat-flat-button.mat-primary {
    background: #01bceb;
    font-weight: 500;
    font-size: 16px;
    min-width: 150px;
    height: 45px;
}
.mat-step-header .mat-step-icon
{
    background-color: #01bceb;
}
.mat-step-label.mat-step-label-active.mat-step-label-selected {
    color: #01bceb;
}

.mat-step-header .mat-step-label.mat-step-label-active {
    color: #9e9e9e;
    font-size: 12px;
}